@import '../../../assets/styles/variables';
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.show {
  background: whitesmoke;
  border-radius: 2rem;
  margin: 0.5rem;

  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border-radius: 2rem 2rem 2rem 2rem;
    margin: 1rem;
  }

  img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  }

  .show-body {
    margin: 1rem 1rem 1rem 0;

    h5 {
      font-size: 2rem;
      font-weight: 700;
      font-family: Franca Bold;
    }

    .rate {
      .average {
        color: @teal;
        font-weight: 600;
        font-size: 1.25rem;
      }
    }

    p {
      margin-top: 1rem;
      font-size: 1.25rem;
    }

    .favorite-button {
      color: @purple;
      margin: 1rem 0 0 0;
    }

    .favorite-button:not(:disabled):not(.disabled):active {
      color: @purple;
    }

    .favorite-button:hover {
      color: @white;
    }

    .external-button {
      flex: 1 1 auto;
      padding: 20px;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
      box-shadow: 0 0 20px #eee;
      border-radius: 2rem;
      font-size: 0.8rem;
    }
  }

  .external-button:hover {
    background-position: right center; /* change the direction of the change here */
  }

  .external-button {
    background-image: linear-gradient(to right, @teal 0%, @purple 51%, @teal 100%);
  }
}
