<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="shows && shows.length > 0" class="shows-list">
        <div *ngFor="let show of shows; let i = index" class="media show">
          <img src={{show.image.medium}} class="align-self-start mr-3" alt="...">
          <div class="media-body show-body">
            <h5 class="mt-0">{{ show.name }}</h5>
            <div class="rate">
              Rate: <span class="average">{{ show.rating.average }}</span>
            </div>
            <p [innerHTML]="show.summary | truncateText: 100" class="summary"></p>
            <div>
              <a href="https://www.imdb.com/title/{{show.externals.imdb}}" class="btn external-button" target="_blank">Show in IMDB</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
